@charset "utf-8";
header {
	color: white;
	text-align: center;
	padding: 10px;
	display: block;
	background-image: url(../BeachVolleyball/newestheader.jpg); 
}

nav {
    color: white;
	font-size: 25px;
	text-align: center;
}

body {
	background-color: white;
	text-align: center;	
	font-family: arial;
	text-align: justify;
}

/*Title link*/
a.class4:link  {text-decoration: none; color: white;}
a.class4:visited {text-decoration: none; color: white;}
a.class4:hover {text-decoration: none; color: white;}

/*Nav links*/
a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:hover {text-decoration: none; color: #a6a6a6;}

/*Live page link*/
a.class3:link  {text-decoration: none; color: yellow;}
a.class3:visited {text-decoration: none; color: yellow;}
a.class3:hover {text-decoration: none; color: #a6a6a6;}