@charset "utf-8";
header {
	color: white;
	text-align: center;
	padding: 10px;
	display: block;
	background-image: url(../BeachVolleyball/newestheader.jpg); 
}

nav {
    color: white;
	font-size: 25px;
	text-align: center;
}

#container {
	width: 2000px;
	height: 1000px;	
	margin-left: auto;
	margin-right: auto;
	padding-left: 280px;
	padding-right: 280px;
}

body {
	background-color: white;
	text-align: center;	
	font-family: arial;
	text-align: justify;
}

#announcements {
	width: 400px; 
	height: 280px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 60px;
	text-align: left;
	float: left;
	border: solid #3399ff;
}

#sign_up {
	width: 400px;
	height: 280px;
	margin-top: 20px;
	margin-left: 10px;
	padding: 60px;
	float: left;
	border: dashed #999999;
	line-height: 7mm;  
}

#girls {
	background-color: #3399ff;
	float: left;
	border-style: solid;
	border-color: #3399ff;
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
}

#links {
	clear: both;
	width: 1040px;
	border: solid #999999;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
	line-height: 7mm;
	background-color: #f2f2f2;
}

/*Title link*/
a.class4:link  {text-decoration: none; color: white;}
a.class4:visited {text-decoration: none; color: white;}
a.class4:hover {text-decoration: none; color: white;}

/*Nav links*/
a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:hover {text-decoration: none; color: #a6a6a6;}

/*Sign-up link*/
a.class5:link  {text-decoration: none; color: #3399ff;}
a.class5:visited {text-decoration: none; color: #3399ff;}
a.class5:hover {text-decoration: none; color: #a6a6a6;}

/*Play Professionally link*/
a.class2:link  {text-decoration: none; color: white;}
a.class2:visited {text-decoration: none; color: white;}
a.class2:hover {text-decoration: none; color: yellow;}

/*Links section links*/
a.class1:link  {text-decoration: none; color: #3399ff;}
a.class1:visited {text-decoration: none; color: #3399ff;}
a.class1:hover {text-decoration: none; color: #a6a6a6;}