@charset "utf-8";
header {
	color: white;
	text-align: center;
	padding: 10px;
	display: block;
	background-image: url(../BeachVolleyball/newestheader.jpg); 
}

nav {
    color: white;
	font-size: 25px;
	text-align: center;
}

body {
	background-color: white;
	text-align: center;	
	font-family: arial;
	text-align: justify;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;	
}

a:hover {
	color: grey;
}
